# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

/FP_PP_1_20140825_박진혁/.vs/
/FP_PP_1_20140825_박진혁/Debug/
/FP_PP_1_20140825_박진혁/FP_PP_1_20140825_박진혁/Debug

/FP_PP_2_20140825_박진혁/.vs/
/FP_PP_2_20140825_박진혁/Debug/
/FP_PP_2_20140825_박진혁/FP_PP_1_20140825_박진혁/Debug
